<div>
  <div class="login-wrapper">
    <div class="login-fields">
      <h3>Registration</h3>
      <form action="#">
        <md-input-container class="full-width">
          <input mdInput placeholder="First name" >
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Last name" >
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Email" type="email" >
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="Password">
        </md-input-container>
        <div class="pt20">
          <button md-raised-button color="primary" class="full-width">Sign Up</button>
        </div>

      </form>
    </div>
  </div>
</div>
