<header class="an-header">
  <md-toolbar color="primary">
   
  <!--  <a class="brand" href="#"><img src={{logo}} alt="logo"/></a> -->
    <div class="toggle-menu">
      <md-icon (click)="toggleSidebar()">dehaze</md-icon>
    </div>
       
    <span class="example-spacer"></span>

    <md-card class="example-card" [mdMenuTriggerFor]="appMenu">
      <div md-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
    </md-card>
  </md-toolbar>
  <md-menu #appMenu="mdMenu">
    <!-- <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Account Settings</span>
    </button>
    <button md-menu-item>
      <md-icon>dashboard</md-icon>
      <span>My Profile</span>
    </button>
    <button md-menu-item>
      <md-icon>bookmark</md-icon>
      <span>Bookmark</span>
    </button>

    <button md-menu-item>
      <md-icon>payment</md-icon>
      <span>My Payment</span>
    </button> -->
    <button md-menu-item (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Log Out</span>
    </button>
  </md-menu>

</header>
