<div class="row">
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Flat Buttons</h5>
      </div>
      <!-- Start flat buttons exapmle -->
      <div class="panel-body">
        <button md-button class="text-uppercase">Flat button</button>
        <button md-button color="primary" class="text-uppercase">Button Primary</button>
        <button md-button color="accent">Button accent</button>
        <button md-button color="warn" class="text-uppercase">Button warn</button>
        <button md-button disabled>Disabled</button>
        <button md-button color="primary" style="width: 100%" class="text-uppercase">Button Full</button>
      </div>
    </div>

    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Flat Complex Buttons</h5>
      </div>
      <!-- Start flat button with external link and icon exapmle -->
      <div class="panel-body">
        <a href="#" md-button class="with-icon right">Button Link<md-icon>android</md-icon></a>
        <a href="#" md-button color="primary" class="with-icon"><md-icon>credit_card</md-icon> Button Link</a>
        <a href="#" md-button color="accent" class="with-icon"><md-icon>done_all</md-icon> Button Link</a>
        <a href="#" md-button color="warn" class="with-icon"><md-icon>android</md-icon>Button Link</a>
        <a href="#" md-button color="primary" class="with-icon"><md-icon>credit_card</md-icon> Button Link</a>
        <a href="#" md-button color="accent" class="with-icon"><md-icon>done_all</md-icon> Button Link</a>
      </div>
    </div>

    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Raised Complex Buttons</h5>
      </div>
      <!-- Start raides button with external link and icon exapmle -->
      <div class="panel-body">
        <a href="#" md-raised-button class="with-icon right">Button Link<md-icon>android</md-icon></a>
        <a href="#" md-raised-button color="primary" class="with-icon"><md-icon>credit_card</md-icon> Button Link</a>
        <a href="#" md-raised-button color="accent" class="with-icon"><md-icon>done_all</md-icon> Button Link</a>
        <a href="#" md-raised-button color="warn" class="with-icon"><md-icon>android</md-icon>Button Link</a>
        <a href="#" md-raised-button color="primary" class="with-icon"><md-icon>credit_card</md-icon> Button Link</a>
        <a href="#" md-raised-button color="accent" class="with-icon"><md-icon>done_all</md-icon> Button Link</a>
      </div>
    </div>

    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Floating Action Buttons</h5>
      </div>
      <!-- Start raides button with external link and icon exapmle -->
      <div class="panel-body">
        <button md-fab ><md-icon>check</md-icon></button>
        <button md-fab color="primary"><md-icon>check</md-icon> </button>
        <button md-fab color="accent"><md-icon>check</md-icon> </button>
        <button md-fab color="warn"><md-icon>check</md-icon></button>
        <button md-mini-fab color="primary"><md-icon>check</md-icon> </button>
        <button md-mini-fab color="accent"><md-icon>check</md-icon> </button>
      </div>
    </div>


  </div> <!-- /.col-md-6 -->
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Flat Icon Buttons</h5>
      </div>
      <!-- Start flat Icon buttons exapmle -->
      <div class="panel-body">
        <button md-button class="text-uppercase"><md-icon>android</md-icon></button>
        <button md-button color="primary"><md-icon>credit_card</md-icon></button>
        <button md-button color="accent"><md-icon>done_all</md-icon></button>
        <button md-button color="warn" class="text-uppercase"><md-icon>code</md-icon></button>
        <button md-button disabled><md-icon>android</md-icon></button>
        <button md-button style="width: 100%" class="text-uppercase"><md-icon>android</md-icon></button>
      </div>
    </div>

    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Raised Buttons</h5>
      </div>
      <!-- Start Raised buttons exapmle -->
      <div class="panel-body">
        <button md-raised-button class="text-uppercase">Raised button</button>
        <button md-raised-button color="primary" class="text-uppercase">Button Primary</button>
        <button md-raised-button color="accent">Button accent</button>
        <button md-raised-button color="warn" class="text-uppercase">Button warn</button>
        <button md-raised-button disabled>Disabled</button>
        <button md-raised-button color="primary" style="width: 100%" class="text-uppercase">Button Full</button>
      </div>
    </div>

    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Raised Icon Buttons</h5>
      </div>
      <!-- Start flat button with external link and icon exapmle -->
      <div class="panel-body">
        <button md-raised-button ><md-icon>android</md-icon></button>
        <button md-raised-button color="primary"><md-icon>credit_card</md-icon> </button>
        <button md-raised-button color="accent"><md-icon>done_all</md-icon> </button>
        <button md-raised-button color="warn"><md-icon>android</md-icon></button>
        <button md-raised-button color="primary"><md-icon>credit_card</md-icon> </button>
        <button md-raised-button color="accent"><md-icon>done_all</md-icon> </button>
      </div>
    </div>


  </div>
</div>
