<div>
  <div class="re-page-banner" style="background: url('../../../../assets/img/banner.jpg') center center no-repeat; background-size: cover;">
    <div class="overlay"></div>
    <h1>About Us</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="about-box-single">
        <h4 class="inner-box-title">WHY CHOOSE <span>US</span>.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="about-box-single">
        <h4 class="inner-box-title">OUR MISSION.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="about-box-single">
        <h4 class="inner-box-title">WHAT WE DO.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
      </div>
    </div>
  </div>

  <h4 class="inner-box-title full">Meet Our Team</h4>

  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let team of data.teamMembers">
      <div class="an-team-single light-bg">
        <div class="image-container">
          <img src={{team.img}} alt="" />
          <div class="overlay">
            <ul class="small-social">
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-pinterest"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="user-details">
          <h4><a href="">{{team.name}}</a></h4>
          <p>{{team.role}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
