<div class="iconbox-wrapper">
  <div class="row">
    <div class="col-md-4">
      <div class="iconbox-single">
        <div class="box-title">
          <div class="circle-icon" style="background: #3f51b5;">
            <md-icon>supervisor_account</md-icon>
          </div>
          <div>
            <h5>2, 324</h5>
            <p>Visitors</p>
          </div>
        </div>
        <div class="chart">
          <app-tiny-bar-chart>
          </app-tiny-bar-chart>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="iconbox-single">
        <div class="box-title">
          <div class="circle-icon" style="background: #40c741;">
            <md-icon>monetization_on</md-icon>
          </div>
          <div>
            <h5>9, 693</h5>
            <p>Revenues</p>
          </div>
        </div>
        <div class="chart">
          <app-tiny-area-chart>
          </app-tiny-area-chart>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="iconbox-single">
        <div class="box-title">
          <div class="circle-icon" style="background: #fdba2c;">
            <md-icon>shopping_basket</md-icon>
          </div>
          <div>
            <h5>1, 250</h5>
            <p>Orders</p>
          </div>
        </div>
        <div class="chart">
          <app-tiny-line-chart>
          </app-tiny-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
