<div>
  <div class="re-page-banner" style="background: url('../../../../assets/img/banner.jpg') center center no-repeat; background-size: cover;">
    <div class="overlay"></div>
    <h1>Contact Us</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="inner-box-title full">Address</h4>
      <div class="an-address-single">
        <p><i class="fa fa-phone"></i>+012345 6789</p>
        <p><i class="fa fa-envelope"></i>example@example.com</p>
        <p><i class="fa fa-map-marker"></i>West end 41str, San Francisco,<br/> 0123456 California, US</p>
      </div>
    </div>
    <div class="col-md-6 contact-form">
      <h4 class="inner-box-title full">Send Us Message</h4>

      <form action="#">
        <md-input-container class="full-width">
          <input mdInput type="email" placeholder="Email">
        </md-input-container>

        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="Subject">
        </md-input-container>

        <md-input-container class="full-width">
          <textarea mdInput placeholder="Message"></textarea>
        </md-input-container>

        <button md-raised-button color="primary" class="text-uppercase full-width">Send Message</button>
      </form>

    </div>
  </div>
</div>
