<div class="row">
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Simple Bar Chart</h5>
      </div>
      <div class="panel-body with-chart">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Horizontal Bar Chart</h5>
      </div>
      <div class="panel-body with-chart">
        <app-horizontal-bar-chart></app-horizontal-bar-chart>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Stacked Bar Chart</h5>
      </div>
      <div class="panel-body with-chart">
        <app-stacked-bar-chart></app-stacked-bar-chart>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Horizontal Stacked Bar Chart</h5>
      </div>
      <div class="panel-body with-chart">
        <app-horizontal-stacked-bar-chart></app-horizontal-stacked-bar-chart>
      </div>
    </div>
  </div>
</div>

