<!-- card with image -->
<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Card with Image</h5>
  </div>
  <div class="panel-body with-chart">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image" style="background: url('../../../../assets/img/user2.jpg') center center no-repeat; background-size: cover;"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="../../../../assets/img/card-iamge.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>

  </div>
</div>



<!-- simple card without image -->
<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Card without Image</h5>
  </div>
  <div class="panel-body with-chart">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image" style="background: url('../../../../assets/img/user2.jpg') center center no-repeat; background-size: cover;"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>

  </div>
</div>


<!-- Background bg cards -->
<div class="row">
  <div class="col-md-4">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Primary Bg</h5>
      </div>
      <div class="panel-body with-chart">
        <md-card class="card-bg-primary">

          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </md-card-content>
        </md-card>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Accent Bg</h5>
      </div>
      <div class="panel-body with-chart">
        <md-card class="card-bg-primary accent">

          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </md-card-content>
        </md-card>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Warning Bg</h5>
      </div>
      <div class="panel-body with-chart">
        <md-card class="card-bg-primary warn">

          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </md-card-content>
        </md-card>

      </div>
    </div>
  </div>
</div>

