<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Basic App Bar</h5>
  </div>
  <div class="panel-body">
    <md-toolbar>My App</md-toolbar>
  </div>
</div>

<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Primary App Bar</h5>
  </div>
  <div class="panel-body">
    <md-toolbar color="primary">
      <span>My App</span>
      <span class="example-spacer"></span>
      <button md-icon-button><md-icon>verified_user</md-icon></button>
    </md-toolbar>
  </div>
</div>

<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Accent App Bar</h5>
  </div>
  <div class="panel-body">
    <md-toolbar color="accent">
      <span>My App</span>
      <span class="example-spacer"></span>
      <button md-icon-button><md-icon>verified_user</md-icon></button>
    </md-toolbar>
  </div>
</div>

<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Warning App Bar</h5>
  </div>
  <div class="panel-body">
    <md-toolbar color="warn">
      <span>My App</span>
      <span class="example-spacer"></span>
      <button md-icon-button><md-icon>verified_user</md-icon></button>
    </md-toolbar>
  </div>
</div>
