<div class="row">
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Simple Dialog</h5>
      </div>
      <div class="panel-body">
        <button md-raised-button color="primary" (click)="openDialog()">Open dialog</button>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Dialog with Footer</h5>
      </div>
      <div class="panel-body">
        <button md-raised-button color="primary" (click)="openDialogTwo()">Open dialog</button>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Dialog with Heading Background</h5>
      </div>
      <div class="panel-body">
        <button md-raised-button color="primary" (click)="openDialogThree()">Open dialog</button>

      </div>
    </div>
  </div>
  <div class="col-md-6"></div>
</div>
