<div class="row">
<!-- Colum 1-->
  <div class="col-md-3">
    <div class="readmin-panel">
               <div class="panel-body">
 <fusioncharts 
    style="display: block;
    margin-left: auto;
    margin-right: auto"
      [id]="id_tank"
      [width]="width_tank"
      [height]="height_tank"
      [type]="type_tank"
      [dataFormat]="dataFormat"
      [dataSource]="dataSource_tank"
  ></fusioncharts>

        </div>
    </div>
    <div class="readmin-panel">
       
          
        <div class="panel-body">
          <table class="table table-hover">
              <thead style="background-color: rgb(195, 211, 245)" align="center">
                  <th  colspan="2" style="text-align: center; border-radius: 4px"> <h5>Level (cm)</h5></th></thead> 
                  <tbody>
                  <tr>
                    <td><h6>SP</h6></td>
                    <td>
                       <input   maxlength="5" size="8" style="border:none" [(ngModel)]="sendLevel_SP" mdInput placeholder="Type value" value="">
                    </td>
                  </tr>
                            
                  <tr>
                    <td><h6>PV</h6></td>
                    <td><h6>{{Level_PV}}</h6></td>
                  </tr>
                                </tbody>
                  </table>
     
        </div>
      </div>
    
  </div>
 <!-- Colum 2-->
  <div class="col-md-6">
      <div class="row">
          <div class="col-md-6">
              <div class="readmin-panel">
      
                  <div class="panel-heading">
                      <h5 style="margin-top:0; margin-right:auto;margin-bottom:0; margin-left:auto">
                         <b>{{auto_man_string}}</b> 
                           </h5>
                    </div>
                       <div class="panel-body">
                       
                          <div [ngStyle]="Run ? onstyle: offstyle" ></div> 
                                
                       </div>
                       
                    </div>
            </div>
          <div class="col-md-6">
              <div class="readmin-panel">
             <fusioncharts 
              style="display: block;
              margin-left: auto;
              margin-right: auto"
                [width]="width_thermo"
                [height]="height_thermo"
                [type]="type_thermo"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource_thermo"
            ></fusioncharts>
      
          </div>
            </div>
           
        </div>
    
    <div class="readmin-panel">
     
          <div class="panel-heading">
              <h5 style="margin-top:0; margin-right:auto;margin-bottom:0; margin-left:auto">
                Process: {{process_string}}</h5>
            </div>
               <div class="panel-body">
                  <md-progress-bar color="warn" mode="buffer" [value]="progressbarvalue" [bufferValue]="progressbarbuffer" ></md-progress-bar>
               </div>
    </div>
    <div class="readmin-panel">

      <div class="panel-body">
  <div style="margin-top: 20px">
        <span>
        <button md-raised-button color="primary" style="width: 47%; float: left" class="with-icon"  (click)="setSP()"> <md-icon>vertical_align_bottom</md-icon> Set SP</button>
        <button md-raised-button color="primary" style="width: 47%; float: right" class="with-icon"  (click)="setPID()"> <md-icon>vertical_align_bottom</md-icon> Set PID</button>
     </span> 
    </div>
        <span>
        <button md-raised-button class="with-icon" style="width: 47%; float: left;background-color:rgb(32, 187, 12)!important; color:white" (mousedown)="mouseDown_start()" (mouseup)="mouseUp_start()">
          <md-icon>play_arrow</md-icon> Start</button>
        <button md-raised-button color="warn" class="with-icon" style="width: 47%; float: right;background-color:rgb(207, 19, 19)!important; color:white" (mousedown)="mouseDown_stop()" (mouseup)="mouseUp_stop()">
          <md-icon>stop</md-icon>Stop</button>
        </span>
        <span>
            <button md-raised-button class="with-icon" style="width: 47%; float: left;background-color:rgb(100, 104, 100)!important; color:white" (mousedown)="mouseDown_reset()" (mouseup)="mouseUp_reset()">
              <md-icon>refresh</md-icon> Reset</button>
            <button md-raised-button class="with-icon" style="width: 47%; float: right;background-color:rgb(207, 19, 19)!important; color:rgb(245, 245, 57)!important" (mousedown)="mouseDown_emergency()" (mouseup)="mouseUp_emergency()">
              <md-icon>error</md-icon> Emergency</button>
            </span>
      </div>
    </div>

  </div>

 <!-- Colum 3-->
  <div class="col-md-3">
      <div class="readmin-panel">
       
         
          <div class="panel-body">
              <table font-size="40px" class="table table-hover">
                  <thead style="background-color: rgb(195, 211, 245)" align="center">
                      <th  colspan="2" style="text-align: center;border-radius: 4px"> <h5>Temperature (&#8451;)</h5></th></thead> 
                    
                  <tbody>
                <tr>
                  <td ><h6>SP</h6></td>
                  <td>
                     
                          <input     maxlength="5" size="8" style="border:none" [(ngModel)]="sendTemper_SP" mdInput placeholder="Type value" value="">
                        
                  </td>
                  
                </tr>
                <tr>
                  <td ><h6>PV1</h6></td>
                  <td ><h6>{{Temper_PV1}}</h6></td>
                
                </tr>
                <tr>
                  
                  <td ><h6>PV2</h6></td>
                  <td ><h6>{{Temper_PV2}}</h6></td>
                
                </tr>
                <tr>
                  
                    <td ><h6>Kp</h6></td>
                    <td>
                          
                            <input   maxlength="5" size="8" style="border:none" [(ngModel)]="sendKp" mdInput placeholder="Type value" value="">
                         
                    </td>
                    
                  </tr>
                  <tr>
                  
                      <td ><h6>Ki</h6></td>
                      <td>
                           
                              <input    maxlength="5" size="8" style="border:none" [(ngModel)]="sendKi" mdInput placeholder="Type value" value="">
                              
                      </td>
                     
                    </tr>
                    <tr>
                  
                        <td ><h6>Kd</h6></td>
                        <td>
                           
                                <input   maxlength="5" size="8" style="border:none" [(ngModel)]="sendKd" mdInput placeholder="Type value" value="">
                             
                        </td>
                       
                      </tr>
              </tbody>
            </table>
        


            <table font-size="40px" class="table table-hover">
              <thead style="background-color: rgb(195, 211, 245)" align="center">
                  <th  colspan="5" style="text-align: center;border-radius: 4px"> <h5>Pump (Hz)</h5></th></thead> 
                
              <tbody>
            <tr>
              <td ><h6>Freq</h6></td>
              <td align="left">
               <h6>{{ActFreq}}</h6> 
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
        </table>

          </div>     

  </div>
</div>
</div>
