<div>
  <div class="login-wrapper">
    <div class="login-fields">
      <h3>Login <a href="">Forgot Password?</a></h3>
      <form action="#">
        <md-input-container class="full-width">
          <input mdInput placeholder="User name or Email" >
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="Password">
        </md-input-container>
        <div class="pt20">
          <md-checkbox
            class="example-margin"
            [indeterminate]="indeterminate">
            Remember me
          </md-checkbox>
        </div>
        <div class="pt20">
          <button md-raised-button color="primary" class="full-width">Log In</button>
        </div>

      </form>
    </div>
  </div>
</div>
