<div class="ng-view" autoscroll>
  <div class="row" class="text-center">
    <div  class="container">
        <div style="background-color: rgb(232, 249, 255)" class="readmin-panel">
          <div  class="panel-body" style="padding: 80px">
              <h5 class="an-title-xs">TRƯỜNG ĐẠI HỌC BÁCH KHOA TP. HỒ CHÍ MINH</h5>
    <h5 >KHOA ĐIỆN – ĐIỆN TỬ</h5>
    <h5>BỘ MÔN ĐIỀU KHIỂN TỰ ĐỘNG</h5>
    <h5>&nbsp;</h5>
    <h4   style="color: red"> <b>LUẬN VĂN TỐT NGHIỆP</b></h4>
    <h4>&nbsp;</h4>
    <h5   style="color: blue"> <b>Mô hình điều khiển giám sát nhiệt độ và mực chất lỏng 
        sử dụng PLC Allen-Bradley</b></h5>
      <!-- <table>
        <thead></thead>
      </table> -->
      <h5>&nbsp;</h5>
    <p  class="text-center">
        GVHD: Trần Ngọc Huy </p>
      <p class="text-center">
       SVTH: Nguyễn Mạnh Đạt - Nguyễn Thanh Trường</p>
      
      </div>
      
     
    </div>
    </div>
  </div>
</div>

