<div class="ng-view" autoscroll>
  <div class="row" class="text-center">
    <div class="container">
        <div class="readmin-panel">
          <div class="panel-body">
              <h3 class="an-title-xs">TRƯỜNG ĐẠI HỌC BÁCH KHOA TP. HỒ CHÍ MINH</h3>
    <h4>KHOA ĐIỆN – ĐIỆN TỬ</h4>
    <h4>BỘ MÔN ĐIỀU KHIỂN TỰ ĐỘNG</h4>
    <h4>LUẬN VĂN TỐT NGHIỆP</h4>
    <p>Mô hình điều khiển nhiệt độ và mực chất lỏng 
      sử dụng PLC Allen-Bradley</p>
      <!-- <table>
        <thead></thead>
      </table> -->
      <p class="text-left">
        GVHD: Trần Ngọc Huy</p>
        <p class="text-right">SVTH:	Nguyễn Mạnh Đạt	MSSV: 1410807</p>

<p class="text-right">Nguyễn Thanh Trường MSSV: 1414350</p>
          </div>
        	
      
    </div>
    </div>
  </div>
</div>

