<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Checkbox</h5>
  </div>
  <div class="panel-body">

    <!-- configuration section -->
    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
    </section>

    <section class="example-section">
      <label class="example-margin">Align:</label>
      <md-radio-group [(ngModel)]="align">
        <md-radio-button class="example-margin" value="start">Start</md-radio-button>
        <md-radio-button class="example-margin" value="end">End</md-radio-button>
      </md-radio-group>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
    </section>


    <!-- Result -->

    <section class="example-section">
      <md-checkbox
        class="example-margin"
        [checked]="checked"
        [indeterminate]="indeterminate"
        [align]="align"
        [disabled]="disabled">
        I'm a checkbox
      </md-checkbox>
    </section>

  </div>
</div>

<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Radio Button</h5>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
          <md-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </md-radio-button>
        </md-radio-group>
        <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
      </div>

      <div class="col-m-d6">
        <md-radio-group class="example-radio-group-inline" [(ngModel)]="favoriteSeasonTwo">
          <md-radio-button class="example-radio-button-inline" *ngFor="let season of seasonTwo" [value]="season">
            {{season}}
          </md-radio-button>
        </md-radio-group>
        <div class="example-selected-value">Your favorite season is: {{favoriteSeasonTwo}}</div>
      </div>
    </div>
  </div>
</div>


<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Switch Button</h5>
  </div>
  <div class="panel-body">


    <!-- configuration section -->
    <section class="example-section">
      <label class="example-margin">Color:</label>
      <md-radio-group [(ngModel)]="colorSwitch">
        <md-radio-button class="example-margin" value="primary">
          Primary
        </md-radio-button>
        <md-radio-button class="example-margin" value="accent">
          Accent
        </md-radio-button>
        <md-radio-button class="example-margin" value="warn">
          Warn
        </md-radio-button>
      </md-radio-group>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="checkedSwitch">Checked</md-checkbox>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="disabledSwitch">Disabled</md-checkbox>
    </section>


    <!-- Result -->
    <section class="example-section">
      <md-slide-toggle
          class="example-margin"
          [color]="colorSwitch"
          [checked]="checkedSwitch"
          [disabled]="disabledSwitch">
        Slide me!
      </md-slide-toggle>
    </section>

  </div>
</div>
