.mat-mini-fab.mat-list-icon {
  margin: 0;
  font-size: 14px !important;
  cursor: auto;

  .mat-icon {
    margin: 0;
    padding: 0;
  }
  .letter {
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.letter.mat-list-icon {
  padding-top: 0;
  margin: 0;
  line-height: 25px;
}

.mat-list .mat-divider {
  padding-bottom: 15px;
  margin-top: 15px;
}
