<div [ngClass]="sidebarClasses()">
  <div class="sidebar-nav">
    <ul>
      <li><a routerLink="/"><md-icon class="color-1">dashboard</md-icon>Home</a></li>

     

      <li class="divider"></li>
      <li><a routerLink="/controls"><md-icon class="color-1">widgets</md-icon>Controls</a></li>
      <li><a routerLink="/t"><md-icon class="color-1">bar_chart</md-icon>Trend</a></li>
      <li><a routerLink="/"><md-icon class="color-1">report</md-icon>Report</a></li>
      


    </ul>
  </div>
</div>
