.color-1 {
  color: #1abc9c;
}

.color-2 {
  color: #f39c12;
}

.color-3 {
  color: #3498db;
}

.color-4 {
  color: #c0392b;
}

.color-5 {
  color: #9b59b6;
}

.color-6 {
  color: #2ecc71;
}

.color-7 {
  color: #f1c40f;
}

.color-8 {
  color: #7f8c8d;
}
