<div class="row">
<div class="col-md-6">
<div class="readmin-panel">
  <div class="panel-heading" style="text-align:center">
    <h5 style="margin-top:0; margin-right:auto;margin-bottom:0; margin-left:auto">Level</h5>
  </div>
  <div class="panel-body with-chart">
    <app-line-chart></app-line-chart>
  </div>
  <table class="table table-condensed">
      <thead>
        <tr>
          <td align="center"><h5>SP</h5></td>
          <td>
          <h5>## Level_SP</h5>  
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center"><h5>PV</h5></td>
          <td><h5>## Level_PV</h5></td>
        </tr>
                      </tbody>
        </table>
</div>
</div>
<div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5 style="margin-top:0; margin-right:auto;margin-bottom:0; margin-left:auto">Temperature</h5>
      </div>
      <div class="panel-body with-chart">
        <app-line-chart></app-line-chart>
      </div>
      <table class="table table-condensed">
          <thead>
            <tr>
              <td align="center"> <h5>SP</h5></td>
              <td >
                  <h5>## Temper_SP</h5>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center"><h5>PV1</h5></td>
              <td ><h5> ## Temper_PV1</h5></td>
            </tr>
            </tbody>
            </table>
    </div>
    </div>
  </div>