<div class="row">
<div class="col-md-6">
<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Level</h5>
  </div>
  <div class="panel-body with-chart">
    <app-line-chart></app-line-chart>
  </div>
  <table class="table table-condensed">
      <thead>
        <tr>
          <td>SP</td>
          <td>
            ## Level_SP
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PV</td>
          <td>## Level_PV</td>
        </tr>
                      </tbody>
        </table>
</div>
</div>
<div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-heading">
        <h5>Temperature</h5>
      </div>
      <div class="panel-body with-chart">
        <app-line-chart></app-line-chart>
      </div>
      <table class="table table-condensed">
          <thead>
            <tr>
              <td>SP</td>
              <td>
                ## Temper_SP
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PV1</td>
              <td>## Temper_PV1</td>
            </tr>
            </tbody>
            </table>
    </div>
    </div>
  </div>