  <div class="row">
    <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-body">
  <fusioncharts 
  style="display: block;
  margin-left: auto;
  margin-right: auto"
  [width]="width_line"
  [height]="height_line"
  [type]="type_line"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource_level"
  [events]="events_level"
  ></fusioncharts>
    </div>
  </div>
  </div>
  <div class="col-md-6">
    <div class="readmin-panel">
      <div class="panel-body">
  <fusioncharts 
  style="display: block;
  margin-left: auto;
  margin-right: auto"
  [width]="width_line"
  [height]="height_line"
  [type]="type_line"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource_temper"
  [events]="events_temper"
  ></fusioncharts>
   
  </div>
  </div>
  </div>
  
  </div>
  <div class="row">
      <div class="col-md-3">

    <div class="readmin-panel">
       
          
        <div class="panel-body">
          <table class="table table-hover">
              
                  <tbody class="cell">
                  <tr>
                    <td><b>SP</b></td>
                    <td><b>{{Level_SP}}</b></td>
                    <td><b>cm</b></td>
                  </tr>
                            
                  <tr>
                    <td><b>PV</b></td>
                    <td><b>{{Level_PV}}</b></td>
                    <td><b>cm</b></td>
                  </tr>
                   </tbody>
                  </table>
     
        </div>
      </div>
</div>
<div class="col-md-6">

    <div class="readmin-panel">

        <div class="panel-body">
          <span>
          <button md-raised-button class="with-icon" style="margin-top:20px; width: 47%; float: left;background-color:rgb(32, 187, 12)!important; color:white" (mousedown)="mouseDown_start()" (mouseup)="mouseUp_start()">
            <md-icon>play_arrow</md-icon> Start</button>
          <button md-raised-button color="warn" class="with-icon" style="margin-top:20px; width: 47%; float: right;background-color:rgb(207, 19, 19)!important; color:white" (mousedown)="mouseDown_stop()" (mouseup)="mouseUp_stop()">
            <md-icon>stop</md-icon>Stop</button>
          </span>
          <span>
              <button md-raised-button class="with-icon" style="width: 47%; float: left;background-color:rgb(100, 104, 100)!important; color:white" (mousedown)="mouseDown_reset()" (mouseup)="mouseUp_reset()">
                <md-icon>refresh</md-icon> Reset</button>
              <button md-raised-button class="with-icon" style="width: 47%; float: right;background-color:rgb(207, 19, 19)!important; color:rgb(245, 245, 57)!important" (mousedown)="mouseDown_emergency()" (mouseup)="mouseUp_emergency()">
                <md-icon>error</md-icon> Emergency</button>
              </span>
        </div>
      </div>
</div>
<div class="col-md-3">

    <div class="readmin-panel">
       
           <div class="panel-body">
          <table class="table table-hover">
              
                  <tbody class="cell">
                  <tr >
                    <td><b>SP</b></td>
                    <td><b>{{Temper_SP}}</b></td>
                    <td><b>&#8451;</b></td>
                  </tr>
                            
                  <tr>
                    <td><b>PV</b></td>
                    <td><b>{{Temper_PV1}}</b></td>
                    <td><b>&#8451;</b></td>
                  </tr>
                   </tbody>
                  </table>
     
        </div>
      </div>

</div>

</div>

 
