<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Gauge Chart</h5>
  </div>
  <div class="panel-body with-chart">
    <app-gauge-chart></app-gauge-chart>
  </div>
</div>


<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Pie Chart</h5>
  </div>
  <div class="panel-body with-chart">
    <app-pie-chart></app-pie-chart>
  </div>
</div>

<div class="readmin-panel">
  <div class="panel-heading">
    <h5>Pie Grid Chart</h5>
  </div>
  <div class="panel-body with-chart">
    <app-pie-grid-chart></app-pie-grid-chart>
  </div>
</div>


