<div>
  <div class="re-page-banner" style="background: url('../../../../assets/img/banner.jpg') center center no-repeat; background-size: cover;">
    <div class="overlay"></div>
    <h1>Faq</h1>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">What is the benefit fo Angular Admin?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">What Purpose Re-admin serves?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Problem with login.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Is navigation menu customizable.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">What is the benefit fo Angular Admin?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">What Purpose Re-admin serves?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Problem with login.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box-single">
          <h4 class="inner-box-title">Is navigation menu customizable.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti.</p>
        </div>
      </div>
    </div>
</div>
