<div class="readmin-products">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let product of products.productsList">
          <a href="#">
            <div class="product-single">
              <span class="favorite"><i class="material-icons">favorite_border</i></span>
              <img src={{product.imgUrl}} alt=" "/>
              <h5>{{product.name}}</h5>
              <p class="price">${{product.price}}</p>
              <button md-raised-button color="accent">Add To Cart <md-icon>shopping_cart</md-icon></button>
            </div>
          </a>
        </div>
  </div>
</div>
